// Базовые классы

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    @media(max-width: $md2) {
        font-size: 14px;
    }

    @media(max-width: $md4) {
        font-size: 12px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $mainColor;
    background-image: url('@img/Main_fin1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $maxWidthContainer + px;
}


.button {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: $mainColor;
    background: linear-gradient(4.19deg, #2C90F7 -17.59%, #05C0CC 115.3%);
    box-shadow: inset 0px -4px 12px rgba(0, 0, 0, 0.22), inset 0px 1px 2px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
        background: linear-gradient(73.87deg, #057EFB 4.86%, #0DF0FF 97.42%);
    }
}

.text {
    font-size: 1rem;
    line-height: calc(27 / 16);
    opacity: 0.7;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: calc(67 / 40);
    margin-bottom: 10px;
}

.title-3 {
    position: relative;

    font-weight: 600;
    font-size: 1.62rem;
    line-height: calc(34 / 26);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        display: block;
        width: 100px;
        height: 2px;
        background: linear-gradient(4.19deg, #2C90F7 -17.59%, #05C0CC 115.3%);
    }
}
