.crypto {
    @include adaptiveValue("margin-top", 80, 30, 1);

    &-slider {
        min-width: 0;
        pointer-events: none;
    }

    &-slide {
        display: flex;
        justify-content: center;
        img {
            width: 200px;
            height: 200px;

            @media (max-width: $md3) {
                width: 150px;
                height: 150px;
            }
        }
    }
}

.swiper-wrapper {
    transition-timing-function: linear;
}

