.how {
    @include adaptiveValue("margin-top", 80, 30, 1);

    &-header {
        display: flex;
        justify-content: center;
    }

    &-list {
        display: grid;
        column-gap: 3.4rem;
        row-gap: 2.2rem;
        @include adaptiveValue("margin-top", 64, 30, 1);

        @media (min-width: $md3) {
            grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        }
    }

    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.87rem 1.25rem 3.12rem;
        background-color: rgba(9, 19, 47, 0.6);
        border-radius: 20px;

        &:not(:last-child)::after {
            position: absolute;
            top: 50%;
            right: -2.5rem;
            transform: translateY(-50%);
            content: url('@img/profit/arrow-right.svg');

            @media (max-width: $md3) {
                display: none;
            }
        }

        @media (max-width: $md3) {
            &:not(:last-child)::before {
                content: url('@img/profit/arrow-right.svg');
                position: absolute;
                bottom: -2.3rem;
                transform: rotate(90deg);
            }
        }

        &-icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 79px;
            height: 79px;
            background: rgba(255, 255, 255, 0.04);
            box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
            backdrop-filter: blur(10px);
            border-radius: 50%;
            z-index: 10;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 8%;
                width: 24px;
                height: 24px;
                background-color: #FC4C4F;
                border-radius: 50%;
                z-index: -1;
            }
        }

        &-title {
            flex: 1 1 auto;
            font-size: 1rem;
            line-height: calc(22 / 16);
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        &-text {
            font-size: 0.87rem;
            line-height: calc(20 / 14);
            text-align: center;
            
        }
    }
}

.trading-item {
    background-color: rgba(23, 35, 51, 0.6);
}