// space
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// colors
$mainColor: #fff;
$hoverColor: #2C90F7;
$grayColor: #898989;
$darkGrayColor: #616161;
